footer{
    background: #181a23;
}
footer p {
    color: #fff!important;
    opacity: .8;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.f1{
    margin-bottom: 0!important;
}
.f2{
    color: #fff!important;
    margin-bottom: 1.5rem!important;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: .5px;
    padding-top: 30px;
}
.f3{
    line-height: 40px;
    margin-bottom: 0!important;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
}
.f4{
    color: #777777;
}
.f5{
    color: #fff;
}
.f6{
    float: right;
    padding-left: 10px;
}
.f7{
    float: right;
}
.btm{
    padding: 24px 0px;
    background: #0d1a2f;
    color: #777777;
}

