<div class="img1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="bheading">About Us</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="img3"></div>

        </div>
        <div class="col-sm-8">
            <h2 class="sheading">RADHAKRISHNA MULTI SPECIALITY HOSPITAL AND IVF CENTRE</h2>
            <p>Radhakrishna Multispeciality Hospital was inaugurated on 23/8/2003 by Padmabhushana Sri Veerendra Heggade
                Dharmadhikari of Srikshetra Dharmasthala. Their holy grace Sri Sri Balagangadharnatha Swamiji and Sri
                Sri Keshavananda Bharathi Swamiji blessed the occasion with hearty benedictions to Sri B. Krishna Bhat,
                Girinagar Founder Father of the Hospital and his son Dr B. K. Vishwanath Bhat- the managing director
                accompanied by his wife Dr Vidya V. Bhat Medical director.Radhakrishna Multispeciality Hospital and IVF
                Centre have always attempted to give the best medical and
                surgical services in gynaecology, female fertility, and related queries and complications. Since its
                inception, the hospital strived hard to make a dent in all specialities of medical care aspiring for the
                dizzy heights of success.Now it can be claimed as a Hi-Tech Super Speciality 50 bedded Hospital
                outshining in Laparoscopic surgery and other Super Specialities.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <p> It is equipped with the latest sophisticated equipment.Our specialised doctors are dedicated to
                providing you with advanced treatment
                within a highly professional and friendly environment.We have done more than 1000 Total Lap
                Hysterectomies with skills which have been demonstrated in
                workshops attended by eminent Gynaecologists and Surgeons from all over the state. We are one of the
                highest volume centres in Karnataka for Total Lap Hysterectomies. Apart from Laparoscopic
                Hysterectomies, we are also pioneers in doing Lap Myomectomies. We are equipped with the Morcellator to
                remove the Myoma or Fibroid in parts. Except for ovarian Malignancies which is a contraindication for
                Laparoscopy, all the other Gynaec Surgeries are efficiently tackled Laparoscopically in this hospital.
                We also have facilities for Hysteroscopic procedure (Diagnostic & therapeutic) like TCRE (TransCervical
                Resection of Endometrium) Polupectomies, Myomectomies and office Hysteroscopy. We specialise in both
                Open & Laparoscopic GI Surgery Procedure.</p>
        </div>
        <div class="col-sm-4">
            <div class="img2"></div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="mheading">Success Stories</h2>
            <p>
            Radhakrishna Multispeciality hospital &amp; IVF Centre recently celebrated its 100th baby celebration. It
            started IVF Centre 3 years ago, and till now, it was able to give 100 babies through IVF.
            For an individual:<br>
            1. Success is a feeling of making our dreams real.<br>
            2. Success is the endpoint of a journey, with a positive result.<br>
            <br>
            But for us in Radhakrishna IVF Center<br>
            1. Success is making your dreams come true.<br>
            2. Success is starting your journey with new hope and desire in you.<br>
        </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <h4>We don't compare, we scale our results</h4>

            <table>
                <tbody>
                    <tr>
                        <th>Total No. of Art Cases</th>
                        <th>Total No. of Successful Pregnancies</th>
                        <th>Percentage of Success</th>
                    </tr>
                    <tr>
                        <td>141</td>
                        <td>29</td>
                        <td>20.56</td>
                    </tr>
                </tbody>
            </table>
</div>
        </div>
        <br>
        <div class="row">
        <div class="col-sm-12">
            <h4>IVF Success</h4>
            <table>
                <tbody>
                    <tr>
                        <th>Total No. of Art Cases</th>
                        <th>Total No. of Successful Pregnancies</th>
                        <th>Percentage of Success</th>
                    </tr>
                    <tr>
                        <td>101</td>
                        <td>39</td>
                        <td>38.39</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
