.img1{
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    width: 100%;
    background-image:url('https://manage-website.s3.amazonaws.com/182fec44-d671-4ee6-a556-c0732a538904shutterstock_428165452.jpg');
}
.container{
    padding-top: 40px;
    padding-bottom: 30px;
}
.bheading{
    text-align: center;
    color: #333;
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
}
.mheading{
    text-align: center;
    color: #57a6eb;
    font-size: 24px;
    padding-top: 30px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-bottom: .5rem;
    line-height: 1.2;
}
.sheading{
    color: #57a6eb;
    font-size: 20px;
}
p{
    font-size: 1rem;
    margin-bottom: 1.5em;
   
    font-family: zandes-light,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}
.subheading{
    color: #2835e0;
    margin-top: 20px;
    text-align: center;
}
.c1{
    text-align: center;
    margin-bottom: 30px;
}
.img2{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px !important;
    vertical-align: middle;
    border-style: none;
    
}
.s1{
    padding-top: 30px;
    padding-bottom: 30px;
}
.c2{
    color: #57a6eb;
    font-size: 22px;
    line-height: 30px; 
}
