<div class="img1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="bheading">Team</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mheading">Our Doctors</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="subheading">DR VIDYA V BHAT</h4>
            <h6 class="c1">Gynaecology, Obstetrics, IVF</h6>
            <p>Dr Vidya V Bhat is a well-known Gynaecology, Obstetrics and IVF specialist of Karnataka. She is
                consulting at Radhakrishna Multispeciality Hospital and IVF Centre and has work experience of 13 years
                in the profession. She is recognised as one of the authorities in the field of laparoscopic
                hysterectomy. She is an expert in diagnosing and treating the patients with ease and passionate about
                her profession.

                A fervent learner of new techniques and a go-getter, Dr Vidya Bhat specialises in IVF (in vitro
                fertilisation). She is a specialist in providing services like Laparoscopy, hysterectomy,
                urogynaecology, and many more. Her versatility as a complete healthcare professional is evident in her
                role as the Medical Director of Radhakrishna Multispeciality Hospital and in heading the IVF centre
                there.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-12 s1">
                    <img src="https://manage-website.s3.amazonaws.com/ad643b3f-a67c-4056-820d-d60c9d05a3d5dr-2.jpg"
                        class="img2">
                </div>
                <div class="col-sm-12 s1">
                    <img src="https://manage-website.s3.amazonaws.com/0055eb07-5cbe-403c-9393-ca04184c8856img1.jpg"
                        class="img2">
                </div>
                <div class="col-sm-12 s1">
                    <img src="https://manage-website.s3.amazonaws.com/686457d6-dcdb-40f3-bde3-5028c48efea9dr1.jpg"
                        class="img2">
                </div>
                <div class="col-sm-12 s1">
                    <img src="https://manage-website.s3.amazonaws.com/b1967d7b-cdae-40b6-bdf4-2f9240c99a1c2.jpg"
                        class="img2">
                </div>
                <div class="col-sm-12 s1">
                    <img src="https://manage-website.s3.amazonaws.com/eb8beda5-eaeb-44e4-878b-0d6c396fa4053.jpg"
                        class="img2">
                </div>

            </div>
        </div>
        <div class="col-sm-6">
            <h3 class="c2">Education</h3>
            <p> 1. MBBS- Dr BR Ambedkar Medical College in 1992.<br>
                2. MD in Obstetrics and Gynaecology- Kempegowda Institute of Medical Sciences, Bengaluru.<br>
                3. DNB (Obstetrics and Gynaecology) title to her qualifications, from the National Board of
                Examinations, New Delhi.

            </p>
            <h3 class="c2">Experience</h3>
            <p> 1. Her career, spanning over 13 years, started off at Lalbagh Nursing Home where she was Consultant
                Obstetrician and Gynaecologist.<br>
                2. She has extended her expertise to academic studies, as Assistant Professor, Dept of OBG,
                Rajarajeshwari Medical College, Bengaluru.<br>
                3. Medical Director at Radhakrishna Hospital.<br>
                4. Course Director for training courses in advanced FOGSI and ICOG recognised endoscopy training and
                FOGSI IVF training at Radhakrishna Multispeciality Hospital &amp; IVF Centre since 2013.
            </p>
            <h3 class="c2">Achievements</h3>
            <p> 1. Over the years she has presented more than 30 papers and poster presentations on various subjects in
                both national and international conferences.<br>
                2. Some of the topics were: gastroschisis, loop excision for chronic cervicitis, hystero enteric
                fistula, conjoined twins, mother and fetus. <br>
                3. She was awarded the best paper award for Ovarian Drilling.<br>
                4. She was the first in the state to conduct a workshop on laparoscopic and vaginal hysterectomy.
            </p>
            <h3 class="c2">Publications</h3>
            <p>1. Forceps v/s Vacuum delivery. Asian Journal of Pediatrics, 2000.<br>
                2. Wolman’s disease. Perinatology Journal 2007.<br>
                3. Lap Hysterectomy. International FIGO Journal.<br>
                4. Written Chapter on PROM for FOGSI text book on Operative Obstetrics and Chapter on Adolescent
                Endometriosis in FOGSI text book.<br>
                5. Metabolic profile PCOS patients – A prospective study. Journal of Pharmaceutical and BioMedical
                Sciences. 2010, 1(20).<br>
                6. A study of female analysis patterns in infertile male. International Journal of Pharmacy and
                Biological Sciences. Jan-Mar 2011 issue (44-49).<br>
                7. Ovarian drilling with multiple punctures. Indian Obstetrics and Gynaecology Journal. Jan-Mar
                2013.<br>
                8. Diagnostic hysteroscopy as the first line of management in infertility. Journal Evaluation of Medical
                and Dental Sciences. Jan 2013.<br>
                9. Benign Vulval Diseases (maculae). Book chapter in: Hand book of OBGYN. Edited jointly by Dr
                Arulkumaran, Dr. Amar Bhide and Dr. Hema Divakar. Chapter 128 (2014).<br>
                10. Septal resection with Bipolar Cautery. A comparative Analysis. (Publication pending – 2014).<br>
                11. Uterine Artery ligation at its origin prior lap Hysterectomy – Our study. (Publication pending –
                2014).<br>
            </p>
            <h3 class="c2">Other Interests</h3>
            <p>1. Dr Vidya Bhat runs an NGO named Radhakrishna Foundation. Many free camps are conducted under its
                aegis, and over 100 free surgeries have been organised for underprivileged women. <br>
                2. She has established the Nulife clinic for women above 45 years and regularly conducts free camps at
                her centre. <br>

            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="subheading">Dr B K VISHWANATH BHAT</h4>
            <h6 class="c1">Paediatrics &amp; Neonatology</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="https://manage-website.s3.amazonaws.com/43a30056-8f4b-4b2f-be34-dfe969246519dr-1.jpg"
                class="img2">
        </div>
        <div class="col-sm-6">
            <p> 1. Dr Vishwanath Bhat is one of the renowned Pediatrician and Neonatologist in Bengaluru. He has been an
                excellent administrator and running Radhakrishna Multispeciality Hospital since 2003.<br>
                2. Dr Vishwanath Bhat is a very humble and passionate specialist. He has contributed a lot for the
                upliftment and development of the hospital. Employees have a high regard for him. <br>
              </p>
            <h3 class="c2">Experience</h3>
            <p>1. Fellowship from Vienna, Austria.<br>
                2. Managing Director at Radhakrishna Multispeciality Hospital &amp; IVF Centre.<br>
            </p>
            
        </div>
    </div>
</div>