<div class="img1">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="bheading c2">RADHAKRISHNA MULTISPECIALITY HOSPITAL AND IVF CENTRE</h1>
                <h2 class="heading">DR VIDYA V BHAT</h2>
                <h3 class="sheading">MD, DNB</h3>
                <h2 class="heading">DR B K VISHWANATH BHAT</h2>
                <h3 class="sheading">Paediatrics & Neonatology</h3>
                <br>
                <a href="https://appointment.medikoe.com/booking/appointment/24384" target="_blank"
                    class="btn btn-main">BOOK
                    APPOINTMENT</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="https://manage-website.s3.amazonaws.com/600b597b-bee5-48e8-97a3-42d4a1547bedimg4.jpg">
        </div>
        <div class="col-sm-8">
            <h2 class="sheading">RADHAKRISHNA MULTI SPECIALITY HOSPITAL AND IVF CENTRE</h2>
            <p>Radhakrishna Multispeciality Hospital was inaugurated on 23/8/2003 by Padmabhushana Sri
                Veerendra Heggade Dharmadhikari of Srikshetra Dharmasthala. Their holy grace Sri Sri Balagangadharnatha
                Swamiji and Sri Sri Keshavananda Bharathi Swamiji blessed the occasion with hearty benedictions to Sri
                B. Krishna Bhat, Girinagar Founder Father of the Hospital and his son Dr B. K. Vishwanath Bhat- the
                managing director accompanied by his wife Dr Vidya V. Bhat Medical director.<br> <br>Radhakrishna
                Multispeciality Hospital and IVF Centre have always attempted to give the best medical and surgical
                services in gynaecology, female fertility, and related queries and complications. Since its inception,
                the hospital strived hard to make a dent in all specialities of medical care aspiring for the dizzy
                heights of success. Now it can be claimed as a Hi-Tech Super Speciality 50 bedded Hospital outshining in
                Laparoscopic surgery and other Super Specialities. It is equipped with the latest sophisticated
                equipment. Our specialised doctors are dedicated to providing you with advanced treatment within a
                highly professional and friendly environment.
            </p>
            <br>
            <a href="about.html" class="btn btn-main">View More</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mheading">Our Services</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="https://manage-website.s3.amazonaws.com/7bb80913-c0f7-4b17-84b0-2e04f5f1057bshutterstock_1050308468.jpg"
                class="img2">
            <h4 class="subheading">Obstetrics</h4>
            <p><strong>Antenatal Check-up</strong><br>Prenatal or antenatal care/ check-up is done to monitor the future
                baby’s development.<br></p>
        </div>
        <div class="col-sm-4">
            <img src="https://manage-website.s3.amazonaws.com/7ff3ad50-45db-4764-a8fc-06795dfcf8ccshutterstock_466843733.jpg"
                class="img2">
            <h4 class="subheading">Gynaecology</h4>
            <p><strong>Menopause check-up &amp; counselling</strong><br>Menopause is a usual life event for women. Every
                woman will incur menopause differently. <br></p>
        </div>
        <div class="col-sm-4">
            <img src="https://manage-website.s3.amazonaws.com/a2e0043a-cb96-467f-bfe0-c7dc62aeaff1shutterstock_201002039.jpg"
                class="img2">
            <h4 class="subheading">Laparoscopy</h4>
            <p><strong>Laparoscopy Hysterectomy</strong><br>Vaginal or abdominal hysterectomy is a procedure of
                surgically
                removing the uterus through the vagina.<br></p>
        </div>
    </div>
</div>

<div style="background: url('http://api.medikoe.net/Website/drVidyaVBhat/images/bg/slide2.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="m2">MEDICAL EXCELLENCE</h2>
            </div>
        </div>
        <h2 class="m3">We assure the patients for living with comforting and positive contributions and make them
            experience
            the best possible medications and treatments that we can provide in our hospital.</h2>
        <p class="m1">
            <strong>Clinic Timings:</strong> 11:00 AM to 1:00 PM (Mon-Sat)
        </p>
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-7">
                <a href="https://appointment.medikoe.com/booking/appointment/24384" target="_blank"
                    class="btn btn-main">BOOK APPOINTMENT</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mheading">WHY CHOOSE US?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <h3 class="n1">Personalised Care</h3>
                <p>As our patient, you stand to receive customised and personalised care; we reflect the same
                    amount of energy and potential to all. We help you in providing the treatments with comparatively
                    adjustable fees as we value for money to all sections of society, and we understand the financial
                    dealing of each family is different from one another. </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <h3 class="n1">Community Care</h3>
                <p>Patients and their families need prompt attention to their illness; hence, we have made a
                    timely intervention as our strength apart from adopting the best professional practices in Medicine
                    and bringing out efficacy through knowledge sharing. As a comprehensive centre to care for girls,
                    babies and women, we define ourselves as a community health provider with patient-centric care.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <h3 class="n1">Emergency Care</h3>
                <p>Our hospital has initiated a highly advanced retrieval, and emergency service for
                    infertility and embryology which has revolutionised the way care was imparted in-transit to
                    critically ill newborn babies and females, or with other women’s health problems. We ensure that the
                    readiness in attending to all cases and the strong willingness to cure patients is maintained and
                    have a keen watch on all significant drives towards doing valuable work.<br></p>
            </div>
        </div>
    </div>
</div>


<div style="background: url('http://api.medikoe.net/Website/drVidyaVBhat/images/bg/bg-cta.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="mheading">Testimonials</h2>
            </div>
        </div>

        <div class="row c1">
            <div class="col-md-12">
                <p><i class="material-icons">&#xe7f2;</i>
                    “I had monthly checkups with Dr Vidya V Bhat for my health issue. The staff there was very welcoming
                    and
                    friendly. I would highly recommend this doctor. You will be very pleased.”<br>
                </p>

            </div>
            <div class="col-md-12">
                <p><i class="material-icons">&#xe7f2;</i>
                    “Dr Vidya V Bhat has been a great gynaecologist to my family and me for the last several years. Her
                    approach to healthcare is refreshing and comprehensive. She’s very knowledgeable, accommodating, and
                    understanding of her patients’ needs and limitations.”<br>
                </p>

            </div>
            <div class="col-md-12">
                <p><i class="material-icons">&#xe7f2;</i>
                    “As a designated nurse, I was very particular in choosing a primary gynaecologist and obstetrician
                    for
                    myself when I was in the stage of fertility. Dr Vidya V Bhat is on staff at my hospital, and I
                    observed
                    her caring, professional, kind approach to medicine very commendable on its own. She is also
                    competent
                    and proactive in her treatment.” <br>
                </p>

            </div>
            <div class="col-md-12">
                <p><i class="material-icons">&#xe7f2;</i>
                    “Dr Vidya V Bhat is an outstanding doctor. She always fixed our queries even if we called her during
                    odd
                    hours. The positive approach of a doctor relaxes the patient’s mind and helps in a quick recovery,
                    and
                    that’s what she does.”<br>
                </p>
            </div>
        </div>
    </div>
</div> 